$background-cl: #FFFFFF;

.modal-call {
    display: none;
    position: absolute;
    z-index: 20;
    right: 0;
    top: 0;
    width: 320px;
    height: 100%;
    background-color: $background-cl;


    &__wrapper {
        padding: 24px 16px;
    }

    .Button__burger-off {
        margin-bottom: 40px;

        @media screen and (min-width: 600px) {
            transform: translate(-80px, 10px);
            position: absolute;
        }
    }

    &__name {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    &__name::before {
        content: url('./../img/highlight.svg');
        position: relative;
        left: -16px;
        top: 10px;
    }

    &__input {
        display: block;
        width: 100%;
        padding: 10px;
        border: 1px solid #EAEAEA;
        border-radius: 8px;
        margin-bottom: 16px;
    }

    &__text {
        font-size: 14px;
        color: #7E7E82;
        line-height: 16px;
        margin-bottom: 18px;
    }

    &__text-link {
        color: #FF3E79;
    }

    &__button-wrapper {
        display: flex;
        justify-content: flex-end;
    }

    &__button-submit {
        color: #FFFFFF;
        width: 136px;
        height: 32px;
        background-color: #FF3E79;
        border-radius: 16px;
        font-size: 12px;
        font-weight: bold;
        text-align: left;
    }

    &__button-text {
        padding-left: 20px;
    }

    &__button-text::after {
        content: url('./../img/dropdown.svg');
        position: relative;
        top: 1px;
        left: 10px;
    }

    @media screen and (min-width: 600px) {
        width: 440px;
        position: fixed;
        border-left: 1px solid #D9FFF5;
        box-shadow: 16px 0px 52px 0px #0E185033,
            -2px 0px 4px 0px #454F7E05;
    }
}