@font-face {
    font-family: 'TT Lakes';
    src: url('../Fonts/TTLakes-Regular.eot'),
        url('../Fonts/TTLakes-Regular.woff'),
        url('../Fonts/TTLakes-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('../Fonts/TTLakes-Medium.eot'),
        url('../Fonts/TTLakes-Medium.woff'),
        url('../Fonts/TTLakes-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('../Fonts/TTLakes-Bold.eot'),
        url('../Fonts/TTLakes-Bold.woff'),
        url('../Fonts/TTLakes-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}