$background-cl: #ffffff;

.Button__burger-off {
    background-image: url("../img/burger-off.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: $background-cl
}

.Button__burger-on {
    background-image: url("../img/burger-on.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: $background-cl
}

.Button__find {
    background-image: url("../img/search.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: $background-cl
}

.Button__call {
    background-image: url("../img/call.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;

    background-color: $background-cl;
}

.Button__message {
    background-image: url("../img/chat.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;

    background-color: $background-cl;
}

.Button__profile {
    background-image: url("../img/profile.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;

    background-color: $background-cl;
}

.Button__repair {
    background-image: url("../img/repair.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: $background-cl
}

.Button__check {
    background-image: url("../img/checkstatus.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: $background-cl
}