.Submit-button {
    color: #FFFFFF;
    width: 136px;
    height: 32px;
    background-color: #FF3E79;
    border-radius: 16px;
    font-size: 12px;
    font-weight: bold;
    text-align: left;

    .Submit-button__text {
        padding-left: 20px;
    }

    .Submit-button__text::after {
        content: url('./../img/dropdown.svg');
        position: relative;
        top: 1px;
        left: 10px;
    }
}